h1{
    color: var(--color-primary-6);
}

.dish{
    display: inline-flex;
    width: 24%;
    justify-content: space-between;
}

.dish-price button{
    padding-left: 10px;
}

.esgotado img{
    opacity: 0.5; /* Deixa a imagem semi-transparente */
    filter: grayscale(100%); /* Transforma a imagem em preto e branco */
}

.esgotado::after {
    content: "ESGOTADO";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7); /* Fundo escuro semi-transparente */
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}

@media  screen  and (max-width: 600px){
    .dish{
        width: 327px;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
}