.produto{
    
    height: 400px;
    width: 1250px;
    padding: 10px 1%;
    display: grid;
    grid-template-columns: 400px 450px 400px;
    border: 1px solid black;
    margin: 0 auto;
}

.informacoes{
    padding-left: 30px;
}

.produto img{
    height: 300px;
    width: 300px;
}

.produto p{
    
    height: 150px;
    width: 400px;
}

span{
    display: inline ;
}

#aside{
    display: inline;
}
