h1{
    color: var(--color-primary-6);
}

.dish{
    display: inline-flex;
    width: 24%;
    justify-content: space-between;
}

.dish-price button{
    padding-left: 10px;
}

@media  screen  and (max-width: 600px){
    .dish{
        width: 327px;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
}